# Dependencias
node_modules/

# Archivos de descarga
downloads/
*.zip
*.mp3

# Archivos temporales de Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
